<h3>Edit Your Profile</h3>

<a href="/events">Event Dashboard</a>
<a href="/logout">Logout</a>
<p></p>

<%= form_for @user, url: { action: 'update' } do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div><br>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div><br>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div><br>
  <%= f.submit 'Update Records' %>
<% end %>
